.newsItem {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: max-content;
    padding-right: 16px;
}

.wrapperImg {
    margin: 0 8px;
    grid-row: 1 / 4;
    justify-self: center;
}

.newsItem .newsTitle,
.newsItem .newsText {
    font-family: 'Arial', sans-serif;
}

.newsItem .newsTitle {
    font-size: 1.2em;
    font-weight: 600;
    margin-bottom: 16px;
}

.newsItem .newsText {
    width: 220px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 1em;
    font-weight: 400;
    margin-bottom: 16px;
    font-size: 1em;
    font-weight: 400;
}

.newsItem .linkDetail {
    grid-column: 2 / 3;
    border-radius: 5px;
    justify-self: start;
    align-self: center;
    padding: 12px;
    color: #551a8b;
}

.newsItem .linkDetail:hover {
    background-color: #cac6e4;
    color: #fff;
    text-decoration: none;
}